---
import AboutLayout from "@layouts/AboutLayout.astro";
import LinkButton from "@components/LinkButton.astro";
import TravelMap from "@components/TravelMap.astro";
import "leaflet/dist/leaflet.css";
---

<AboutLayout frontmatter={{ title: "About" }}>
  <img
    src="/assets/profile_headshot.jpeg"
    class="mx-auto sm:w-3/5"
    alt="profile picture of Pengyu"
  />
  <p>
    I am currently a Master student in Computer Science at Yale University.
    Previously, I graduated from <a
      href="https://nyuad.nyu.edu/"
      class="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
    >
      NYU Abu Dhabi</a
    > with a Bachelor's degree in Computer Science. I am into distributed systems,
    big data systems, and everything that supports them.
  </p>

  <h2>Experiences</h2>

  <p>
    In Summer 2024, I was interning at <a
      href="https://www.duolingo.com/info"
      class="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
      >Duolingo</a
    > as an Operations Engineer Intern. Previously, I have interned at <a
      href="https://www.tiktok.com/about?lang=en"
      class="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
    >
      TikTok</a
    >,
    <a
      href="https://www.bell-labs.com/"
      class="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
      >Nokia Bell Labs</a
    >, and <a
      href="https://www.combyne.com/about"
      class="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
    >
      combyne</a
    >. I have also engaged in research projects in Computer Science and
    published two papers as co-authors, which are listed <a
      href="https://scholar.google.com/citations?hl=en&user=1sGnrjoAAAAJ"
      class="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
      >here</a
    >. To learn more about my professional experiences, have a look at my <a
      href="../assets/resume.pdf"
      class="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
    >
      resume</a
    >. Below is an <b>incomplete quantitative summary</b> of the programming languages
    that I fiddle with.

    <figure>
      <embed
        src="https://wakatime.com/share/@1cfff9e1-d718-446b-b015-0f01fb06c490/7dbfe7b5-4ac6-4516-831c-e08ef14ed903.svg"
      />
    </figure>
  </p>

  <h2>About me, personally</h2>
  <p>
    My hometown is Changsha, China, where I spent the first 18 years of my life
    there. Then I moved to Abu Dhabi, United Arab Emirates for college, where I
    met friends from all over the world and had an amazing 4 years (actually 3
    years because of COVID). Now, I am living in New Haven, United States to
    pursue graduate studies. I love to travel, especially with friends. Below is
    a list of countries I have been to:
  </p>

  <!-- First load the Leaflet library -->
  <script 
    is:inline
    src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin="">
  </script>
  
  <!-- Then include the map component -->
  <TravelMap />

  <p>
    In Summer 2022, I bought a pre-owned Canon EOS R from Facebook Marketplace
    (yes I do shop there), which emptied out a large portion of my savings.
    Since then, I have been taking pictures during my trips. I post some of them
    on <a
      href="https://unsplash.com/@hncswpy"
      class="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
      >Unsplash</a
    >, feel free to check them out.
  </p>

  <p>
    Apart from photography, I am also a gamer. You would be surprised to find
    out how many hour I spent on games like R6S, Apex Legends, Legends of Zelda,
    and Super Smash Bros (and how I still suck at them). More often, you could
    catch me vibing with music on Spotify.
  </p>
  <img
    src="https://spotify-badge-opal.vercel.app/api/now-playing.svg"
    width="540"
    height="52"
  />
</AboutLayout>
